.mon {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 1000px;
    /* margin-top: 20px; */
}

.container-backgroud {
	width: 100vw;
	min-height: 100vh;
	background-color: rgb(192, 206, 228);
	/* background-color: #2f3e7e; */
}

.exs_container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 15px;
	align-items: center;
	justify-content: center;
}